body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 75%;
}

header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  margin-bottom: 30px;
}

header img {
  height: 45px;
}

.business-desc {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 30px;
}

.business-desc article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.business-desc p {
  color: gray;
}

.business-desc img {
  height: 200px;
}

.menu {
  background-color: #f3f5f5;
  padding: 20px 0;
}

.menu > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-content {
  width: 80%;
}

.menu-content h2 {
  margin-bottom: 20px;
}

.menu-content > section {
  margin-bottom: 50px;
}

.category-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.meal {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  flex: 0 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  height: 200px;
  width: 500px;
  min-height: 200px;
  min-width: 500px;
}

.meal:hover {
  cursor: pointer;
}

.meal h3 {
  margin-bottom: 10px;
  color: dimgrey;
}

.meal-left {
  color: gray;
}

.meal-description {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.meal-bottom {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}

.price {
  font-size: 18px;
}

.meal-bottom .popular-tag {
  font-weight: bold;
  color: darkorange;
  display: flex;
  align-items: center;
  gap: 5px;
}

.meal img {
  width: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.basket {
  background-color: white;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
}

.basket-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.basket hr {
  border-top: 1px solid lightgray;
}

.basket button {
  all: unset;
  background-color: #00ccbc;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
}

.item-counter {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-shrink: 0;
}

.item-counter button {
  all: unset;
  color: #00ccbc;
  font-weight: bold;
  font-size: 18px;
}
.item-counter button:hover {
  cursor: pointer;
}

.item-quantity {
  width: 20px;
  text-align: center;
}

.item-designation {
  display: flex;
  justify-content: flex-start;
}

.basket > .total {
  font-weight: bold;
  font-size: 20px;
}
